body {
    margin: 0;
}




.box {
    width: 200px;
    height: 200px;
    background-color: #f00;

    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url("../assets/Helloween.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.box__round {
    width: 70px;
    height: 70px;
    background-color: #fff;
    border-radius: 50px;

    color: #f00;
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url("../assets/barbie.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.lists>ul>li {
    list-style: none;
}

.lists>ul {
    margin: 0;
    padding: 0;
}

.squere {
    width: 100px;
    height: 100px;
    background-color: #000;
    cursor: pointer;
    transition: 1s;
}

.squere:hover {
    background-color: #f00;
    transition: 1s;
    border-radius: 50%;
    /* transform: rotate(45deg); */
    /* transform: translateX(100vw); */
    /* transform: scale(0.3); */
}